.container {
  padding: 20px;
}

.links a {
  white-space: nowrap;
}

.icon {
  width: 0.7rem;
  margin-right: 0.2rem;
  margin-top: -0.2rem;
  vertical-align: middle;
  color: #fff;
  fill: #fff;
  transition: transform 0.1s ease;
}
a:hover .icon {
  transform: scale(1.2);
}

.wave .hand {
  animation-name: wave;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  transform-origin: 70% 70%;
  display: inline-block;
}
.wave:hover .hand {
  animation-iteration-count: infinite;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.keywords {
  color: rgb(168, 196, 197);
  font-size: 70%;
}
